<style type="text/css">
	 footer{
		 		background-color:black;
				color: white;
				text-align : center;
				padding-bottom : 20px;
				font-size: 200%;
				clear:both;
		 }
</style>

  
	<footer>
	  Visit Again &copy; CDAC copyrights
	</footer>


</body>
</html>