<html>
<head>
  <title>CDAC FOURM</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!-- <style type="text/css">
      /*header{
        background-color:black;
        color: white;
        text-align :center;
        padding : 10px;
        font-size: 100%;
      
    }
     
     footer{
        background-color:black;
        color: white;
        text-align : center;
        padding-bottom : 20px;
        font-size: 200%;
        clear:both;
        margin-top:390px;
     }*/
     /*input{

      max-width: 250px;
     }*/
    /* #btn{
      margin-left: 130px;
      font-size: 13px;

     }
*/


</style> -->

</head>
<body>
  
<div class="container">
<div class="col-sm-8 col-sm-offset-2">
<div class="page-header text-left"><h2>LOGIN</h2></div>
<form data-toggle="validator" role="form" method="POST" action="/login">
<div class="form-group">
<label for = "name" class = "control-label">Email</label>
<input type = "text" class = "form-control" name="username" id = "uname" placeholder = "Enter Email address" required>
      </div>
        <div class = "form-group">
      <label for = "Pwd" class = "control-label">Password</label>
       <input type = "Password" minlength="6" class = "form-control" id = "pwd" name="password" placeholder = "Enter Password" required>
      
    
      
             
             <button type="button" class="btn btn-link" style="float: right;"> Forgot Password?</button>
         
      </div>
       


   <div class = "form-group">
      
               <div class = "checkbox">
            <label><input type = "checkbox"> Remember me</label>
         </div>
     
   <!-- </div> -->
   
   <div class = "form-group">
     
         <button type = "submit" value="submit" class = "btn btn-primary">Login</button>
             <p>
                       <a href="/signup" class="btn btn-primary">Not a Member !!</a>
                   </p> 
      </div>
   


<!-- </div> -->
</form>  
<form action="/uploadpicture" method="POST" enctype="multipart/form-data">
<input type="file" name="picture" accept="application/x-zip-compressed,image/*">
 
<input class="form-control" type="text" name="description" placeholder="Description or Message">
 
<input class="btn btn-primary" type="submit" value="submit">
</form> 
</div>
</div>



<% include ./partials/footer %>