<!DOCTYPE html>
<html>
<head>
	<title>Submit Answer</title>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>


<body ng-app="myapp">




<div>
		<nav class="navbar navbar-inverse">
			  <div class="container-fluid">
				<div class="navbar-header">
				  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar"> 
				  </button>
				  <a class="navbar-brand" href="#">CDAC-FORUM</a>
				</div>
				<div class="collapse navbar-collapse" id="myNavbar">
				  <ul class="nav navbar-nav">
					<li><a href="#">DATE</a></li>
					<li><a href="#">TOPIC</a></li>  
				  </ul>
				  <ul class="nav navbar-nav navbar-right">
					<li><a href="#"><span class="glyphicon glyphicon-user"></span>  USER-1</a></li>
				  </ul>
				</div>
			  </div>
			</nav>
	</div>
<div class="container">
<div class="col-sm-8 col-sm-offset-2">
	<div class="page-header text-left">
	<p><h2>&emsp;&emsp;&emsp;TITLE&emsp;&emsp;&emsp;</h2></p><br>

	<div class="col-xs-12">
			<code>
			<pre class="pre-scrollable">
			
			<p> This is my para in Content. </p>
			    sdfsdf  jksdbhfkg hj hsbdjkfg
			    hbsdfh hs dnfg hjbjksdfkg
			    sdjfg jhsdnfg
			</pre>
    	    </code>
			</div>

	 <div class="form-group">
      <textarea class = "form-control" rows = "3" cols="30" size="30">
      	


      </textarea>
   </div>
     <div class="form-group">

      <button id="btn" type = "submit" class = "btn btn-warning"  style="float: right;">Submit Answer</button>
      </div>
		
	</div>
</div>
	
</div>

</body>
</html>